body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #004990;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

a {
  color: #3c7cbb;
}

header .navbar-brand {
  font-size: 1.2em;
}

.navbar-text {
  color: rgb(255, 255, 255) !important;
}

.maincontent {
  line-height: 160%;
}

body {
  background-color: #e5e5e5;
}

.App {
  align-items: center;
  display: flex;
  font-family: 'Helvetica New', Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.Sign-in-container {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 9px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: flex;
  height: 375px;
  justify-content: center;
  width: 450px;
}

.dropMenu {
  width: 170px;
}

@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
body {
  font-family: 'Poppins', sans-serif;
  background: #777b9f;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  padding: 15px 16px;
  background: rgb(202, 142, 142);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 200%;
  height: 7px;
  border-bottom: 1px dashed #ddd;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  /* Added position fixed Hovland 27 Apr 22*/
  position: absolute;
  min-width: 250px;
  max-width: 350px;
  background: #3458e8;
  color: #fff;
  transition: all 0.3s;
}
/* Added .options-group Hovland 27 Apr 22*/
.options-group{
  width: 80vw;
  margin-left: 20vw;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #0e1b56;
}
#sidebar ul.components {
  padding: 20px 0px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: rgb(245, 246, 250);
  background: #3654d7;
}
a[data-toggle='collapse'] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 60%;
  right: 40px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386d5;
}
a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#content {
  width: 300%;
  padding: 30px;
  min-height: 100vh;
  transition: all 0.3s;
}

@media (maz-width: 768px) {
  #sidebar {
    margin-left: -350px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
