<div class="card">
  <div class="card-header">
    <div>Welcome to the Manage Page</div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <form action="programs.ejs">
        <label for="programs">What Program would you like to view?</label>
        <br>
        <select name="programs" id="programs" class="form-control">
          <option value="none" selected disabled hidden>Select a Program</option>
          <optgroup label="Majors">
            <option value="animDigi">BFA Animation & Digital Media</option>
            <option value="appBioChemMolBio">BS Applied Biochemistry and Molecular Biology</option>
            <option value="appMathComSci">BS Applied Mathematics and Computer Science</option>
            <option value="appSci">BS Applied Science</option>
          </optgroup>
          <optgroup label="Minors">
            <option value="appForLang">Applied Foreign Languages</option>
            <option value="appPcStud">Applied Peace Studies</option>
            <option value="artHist">Art History</option>
            <option value="bio">Biology</option>
          </optgroup>
        </select>
        <br>
        <input type="submit" value="Search"  class="btn btn-primary">
      </form>
    </div>
    <br>
    <div class="form-group">
      <form action="">
        <label for="terms">What Term would you like to view?</label>
        <br>
        <select name="terms" id="terms" class="form-control">
          <option value="none" selected disabled hidden>Select an Term</option>
          <option value="spring22">Spring 2022</option>
          <option value="fall22">Fall 2022</option>
          <option value="spring21">Spring 2021</option>
          <option value="fall22">Fall 2021</option>
          <option value="spring20">Spring 2020</option>
          <option value="fall22">Fall 2020</option>
          <option value="spring19">Spring 2019</option>
          <option value="fall22">Fall 2019</option>
        </select>
        <br>
        <input type="submit" value="Search" class="btn btn-primary">
      </form>
    </div>
    <br>
    </div>
  </div>
</div>
